*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy';
}

html, body {
    height: 100%;
    width: 100%;
}
.box{
    height: 300px;
    width: 300px;
    /* background-color: crimson; */
    position: absolute;
    left: 50%;
}
@media (max-width:600px) {
    .box{
        background-color: royalblue;
    }
    html{
        /* background-color: brown; */
    }
}
.main{
    height: 100%;
    width: 100%;
    position: relative;
}
.nav{
    height: 100px;
    width: 100%;
    /* background-color: red; */
    /* border-bottom: 2px solid#dadada; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 4vw;
}
.nav-part2{
    display: flex;
    /* background-color: blue; */
    align-items: center;
    gap: 4vw;
}
.nav h2{
    font-size: 2vw;
    font-weight: 700;
}
.nav h4{
    font-size: 1.1vw;
}
.nav button{
    font-size: 1vw;
    padding: 0.7vw 1.4vw;
    background-color: #ff735c;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-weight: 600;
}
.nav i{
    /* font-size: 1.6vw;
    flex-wrap: 800; */
    display: none;
    font-weight: 800;
}
.content{
    height: calc(100% - 100px);
    width: 100%;
    /* background-color: burlywood; */
    display: flex;
    position: relative;
    padding-left: 60px;
}
.left{
    height: 100%;
    width: 45%;
    /* background-color: crimson; */
    padding-top: 5vw 4vw;
    /* margin-top: 150px; */
}
.left h1{
    font-size: 4.2vw;
    line-height: 4.4vw;
}
.left h1 span{
    color: #ff735c;
}
.left p{
    font-size: 1.2vw;
    font-weight: 600;
    color: #666;
    width: 80%;
    margin-top: 1.5vw;
    margin-bottom: 3vw;
}
.content button{
    font-size: 1.2vw;
    padding: 1.1vw 2.1vw;
    background-color: #ff735c;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-weight: 700;
}
.right{
    height: 100%;
    width: 45%;
    /* background-color: royalblue; */
}
.right img{
    height: 100vh;
    width: 100%;
}
@media (max-width:600px){
    .nav{
        padding:0 6vw;
        height: 60px;
    }
    .nav h2{
        font-size: 5.1vw;
    }
    .nav h4{
        font-size: 4vw;
        display: none;
    }
    .nav button{
        display: none;
    }
    .nav i{
        /* font-size: 1.6vw;
        flex-wrap: 800; */
        /* display: block; */
        font-size: 4.5vw;
    }
    .content{
        height: calc(100% - 60px);
        flex-direction: column;
    }
    .left{
        width: 100%;
        height: 50%;
        padding: 4vw 6vw;
        margin-left: -10px;
        /* background-color: red; */
    }
    .right{
        width: 100%;
        height: 40%;
        margin-left: -10px;
        margin-top: 400px;

        }
        .left h1{
            font-size: 10vw;
            line-height: 11vw;
            margin-left: -10px;
        }
        .left p{
            font-size: 4vw;
            width: 90%;
            margin-top: 7vw;
            margin-bottom: 6vw;
            margin-left: -10px;
        }
        .content button{
            padding: 4vw 6vw;
            border-radius: 3px;
            font-weight: 600;
            font-size: 3.5vw;
        }
        .main .nav .nav-part2{
            background-image: url(menu-3-fill.png);
            background-size:contain;
            background-position:5rcap;
        }
}
